@model NewsServiceModel

<div class="card-deck col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Activity Image">
        <div class="card-body text-center">
            <h4 class="card-title">@Model.Title</h4>
            <h6>Публикувано на: <b>@Model.Date</b></h6>
            <br />
            <a asp-controller="News" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary">Прочети повече</a>
            @if (this.User.IsAdmin())
            {
                <a asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Редактирай</a>
                <a asp-controller="News" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Изтрий</a>
            }
        </div>
    </div>
</div>